CONSUMER_KEY=(your Consumer API key)
CONSUMER_SECRET=(your Consumer API secret key)
ACCESS_TOKEN=(your access token)
ACCESS_TOKEN_SECRET=(your access token secret)
PREMIUM_SEARCH_API_URL=https://api.twitter.com/1.1/tweets/search/fullarchive/dev.json