<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="//stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <title>Configuration error</title>
    <style>
      main {margin-top: 3em;}
      main, main h4 {color: #666;}
    </style>
  </head>
  <body class="bg-light">
    <nav class="navbar sticky-top navbar-dark bg-dark navbar-expand-lg">
      <a class="navbar-brand" href="#">Engagement API explorer</a>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="//developer.twitter.com/en/products/metrics">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="//developer.twitter.com/en/docs/metrics/get-tweet-engagement/overview">Docs</a>
          </li>
        </ul>
      </div>
    </nav>

    <main class="container">
      <h4>{{MESSAGE}}</h4>
      <pre><code>{{CODE}}</code></pre>
      {{ACTION}}
    </main>
    <!-- /Container -->
  
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  </body>
</html>